@layout('docs.master')
@section('content')
  @include('docs.introduction')
  @include('docs.auth.index')
  @include('docs.roles.index')
  @include('docs.permissions.index')
  @include('docs.users.index')
  @include('docs.profile.index')
@endsection
