@layout('emails.master')
@section('content')
<div class="content">
  <h3>Hallo {{ name }}</h3>
  <p>
  We, received a reset password request from your account.
  </p>
  <p>
    Your new password: <b>{{ newPassword }}</b>
  </p>
  <p>
    Please change this new password immedietly after succeed log in to our system
  </p>
  <p>
    Thank you.
  </p>
</div>
@endsection
